.HomePage{
    max-height: 100vh;
    max-width: 100vw;   
    position: relative;
    display: flex;justify-content: center; align-items: center;
  
    overflow: auto; 
    

}

button{
  margin-right: 5px !important;

}



.NewMap{
  margin: auto;
  width: 96vw;
  height: 100vh;
  display: flex;justify-content: center; align-items: center;
  position: relative;
  >*{
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);

  }
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom{
  border-radius: 20px;
}
.layers-container{
  position: absolute;
  left: 70px;
  margin: 10px;   
  bottom: 0px;
  z-index: 999;

 >button{
  padding: 20px 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    font-size: 20px;
  }
 }


 .content{
  display: flex; 
  >div{
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.12) ;
    display: flex;justify-content: center; align-items: center; flex-direction: column;
    gap: 5px;
    &:last-child{
      border-right: 1px solid transparent !important ;

    }
 
    img{
      width: 50px ;
      border-radius: 50%;
      border-width: 3px;
      border: 2px rgb(238, 238, 238) solid;
      cursor: pointer;
      
     
     }
     .ActiveImage{
      border: 3px green solid !important ;
    }
     h6{
      font-size: 11px;
      text-align: center;
      width: 80%;
     }
  }
  
  }
}


.layers-content{
  display: flex; 
  >div{
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.12) ;
    display: flex;justify-content: center; align-items: center; flex-direction: column;
    gap: 5px;
    &:last-child{
      border-right: 1px solid transparent !important ;

    }
 
    img{
      width: 50px ;
      border-radius: 50%;
      border-width: 3px;
      border: 2px rgb(238, 238, 238) solid;
      cursor: pointer;
      
     
     }
     .ActiveImage{
      border: 3px green solid !important ;
    }
     h6{
      font-size: 11px;
      text-align: center;
      width: 80%;
     }
  }
  
  }
 


  .leaflet-left{
    display: none !important;
  }


  .settings-container{
    position: absolute;
    left: 130px;
    margin: 10px;   
    bottom: 0px;
    z-index: 999;
  
   >button{
    padding: 20px 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      font-size: 20px;
    }
   }
  
  
  
  }
  .setting-content{
    display: flex; 
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    >div{
      flex: 1;
      display: flex; gap: 20px;
      gap: 5px;

    }
    
    }



    .zoom-container{
      position: absolute;
      left: 270px;
      margin: 10px;   
      bottom: 0px;
      z-index: 999;
    
      >div{
        display: flex;
      
        .ImZoomIn{
  display: inline-flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          position: relative;
          box-sizing: border-box;
          -webkit-tap-highlight-color: transparent;
          outline: 0px;
          margin: 0px !important;
          cursor: pointer;
          user-select: none;
          vertical-align: middle;
          appearance: none;
          text-decoration: none;
          font-size: 20px;
          font-family: ManropeBold, ManropeRegular;
          font-weight: 500;
          line-height: 1.75;
          text-transform: uppercase;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          border: 1px solid rgba(66, 70, 73, 0.5);
          color: rgb(66, 70, 73);
          background-color: rgb(255, 255, 255);
          border-radius: 400px 0px 0px 400px;
          padding: 9px 16px;
          min-width: 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
       
        }
        .ImZoomOut{
  display: inline-flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          position: relative;
          box-sizing: border-box;
          -webkit-tap-highlight-color: transparent;
          outline: 0px;
          margin: 0px !important;
          cursor: pointer;
          user-select: none;
          vertical-align: middle;
          appearance: none;
          text-decoration: none;
          font-size: 20px;
          font-family: ManropeBold, ManropeRegular;
          font-weight: 500;
          line-height: 1.75;
          text-transform: uppercase;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          border: 1px solid rgba(66, 70, 73, 0.5);
          color: rgb(66, 70, 73);
          background-color: rgb(255, 255, 255);
          border-radius: 0px 400px 400px 0px;
          padding: 9px 16px;
          min-width: 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
       
        }
      }
    
    
     
    }
    
    .Full-container{
      position: absolute;
      left: 330px;
      margin: 10px;   
      bottom: 0px;
      z-index: 999;
    
     >button{
      padding: 20px 20px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
        font-size: 20px;
      }
     }
    
    
    
    }
    .layers-container{
      left: 120px;


    }
    .settings-container{
      left: 170px;
    }
    .zoom-container{
      left: 0px;
      z-index: 999999;
    }
    .Full-container{
      left: 220px;
    }
    button{
      color: rgb(66, 70, 73) !important;

    }
  
    img {
      position: relative;
    
    
    }
    @keyframes pingAnimation {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(1.1);
        opacity: 0.5;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
    .custom-marker{
      >div{
        width: 40px;
        height: 40px;
        background-color: rgb(237, 108, 2, .7);
        display: flex; justify-content: center; align-items: center;
        border-radius: 50%;
        position: relative;
        rotate: 40deg;

      
      }
        
    }
    .marker-0,.marker-4,.marker-8{
      >div{
        width: 40px;
        height: 40px;
        background-color: rgb(237, 108, 2, .7);
        display: flex; justify-content: center; align-items: center;
        border-radius: 50%;
        position: relative;
        rotate: 40deg;

      }
     
     
        
    }
    .marker-0.Ping,.marker-4.Ping,.marker-8.Ping{
      >div{
        width: 40px;
        height: 40px;
        background-color: rgb(237, 108, 2, .7);
        display: flex; justify-content: center; align-items: center;
        border-radius: 50%;
        position: relative;
       
        &:after {
          content: "";
          background-image: url('../../../public/Layout/Orange.png');
          background-size: cover; // Adjust as needed
          width: 10px; // Adjust as needed
          height: 10px; // Adjust as needed
          position: absolute;
          top: -25%;
          left: 40%;
          transform: translate(-50%, -50%);
          
  animation: pingAnimation .5s infinite; /* Adjust the duration as needed */

        }
      }
    }
   
    .marker-1, .marker-3, .marker-7{
      div{
        width: 40px;
        height: 40px;
        background-color: rgb(0, 128, 0,.7) !important;
        display: flex; justify-content: center; align-items: center;
        border-radius: 50%;
        rotate: -40deg;

      }
   
      
        
    }
    .marker-1.Ping,.marker-3.Ping,.marker-7.Ping{
      >div{
              width: 40px;
              height: 40px;
              background-color: rgb(0, 128, 0,.7) !important;
              display: flex; justify-content: center; align-items: center;
              border-radius: 50%;

              &:after {
                content: "";
                background-image: url('../../../public/Layout/Green.png');
                background-size: cover; // Adjust as needed
                width: 10px; // Adjust as needed
                height: 10px; // Adjust as needed
                position: absolute;
                top: -25%;
                left: 40%;
                transform: translate(-50%, -50%);
                animation: pingAnimation .5s infinite; /* Adjust the duration as needed */
      
              }
             
            }
            }
    
    .marker-2,.marker-5,.marker-6{
      >div{
        rotate: 0deg;

        width: 40px;
        height: 40px;
        background-color: rgb(255, 0, 0,.7) !important;
        display: flex; justify-content: center; align-items: center;
        border-radius: 50%;
      }
     
      
        
    }
    .marker-2.Ping,.marker-5.Ping,.marker-6.Ping{
        >div{
          width: 40px;
          height: 40px;
          background-color: rgb(255, 0, 0,.7) !important;
          display: flex; justify-content: center; align-items: center;
          border-radius: 50%;
          &:after {
            content: "";
            background-image: url('../../../public/Layout/Red.png');
            background-size: cover; // Adjust as needed
            width: 10px; // Adjust as needed
            height: 10px; // Adjust as needed
            position: absolute;
            top: -25%;
            left: 40%;
            transform: translate(-50%, -50%);
            animation: pingAnimation .5s infinite; /* Adjust the duration as needed */
  
          }
         
        }
      
    }