.HomePage{
    max-height: 100vh;
    max-width: 100vw;   
    position: relative;
    display: flex;justify-content: center; align-items: center;
  
    overflow: auto; 
    

}

button{
  margin-right: 5px !important;

}



.NewMap{
  margin: auto;
  width: 90vw;
  height: 100vh;
  display: flex;justify-content: center; align-items: center;
  position: relative;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom{
  border-radius: 20px;
}
.layers-container{
  position: absolute;
  left: 70px;
  margin: 10px;   
  bottom: 0px;
  z-index: 999;

 >button{
  padding: 20px 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    font-size: 20px;
  }
 }


 .content{
  display: flex; 
  >div{
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.12) ;
    display: flex;justify-content: center; align-items: center; flex-direction: column;
    gap: 5px;
    &:last-child{
      border-right: 1px solid transparent !important ;

    }
 
    img{
      width: 50px ;
      border-radius: 50%;
      border-width: 3px;
      border: 2px rgb(238, 238, 238) solid;
      cursor: pointer;
      
     
     }
     .ActiveImage{
      border: 3px green solid !important ;
    }
     h6{
      font-size: 11px;
      text-align: center;
      width: 80%;
     }
  }
  
  }
}

.layers-container{
  position: absolute;
  left: 70px;
  margin: 10px;   
  bottom: 0px;
  z-index: 999;

 >button{
  padding: 20px 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    font-size: 20px;
  }
 }



}
.layers-content{
  display: flex; 
  >div{
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.12) ;
    display: flex;justify-content: center; align-items: center; flex-direction: column;
    gap: 5px;
    &:last-child{
      border-right: 1px solid transparent !important ;

    }
 
    img{
      width: 50px ;
      border-radius: 50%;
      border-width: 3px;
      border: 2px rgb(238, 238, 238) solid;
      cursor: pointer;
      
     
     }
     .ActiveImage{
      border: 3px green solid !important ;
    }
     h6{
      font-size: 11px;
      text-align: center;
      width: 80%;
     }
  }
  
  }
 

  .LayersControl{
    display: none !important;
  }